<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game with Joker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px 5px;
        }

        .container {
            position: relative;
        }

        .box1 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 20px;
            left: 10px;
        }

        .box2 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 72px;
            left: 10px;
        }

        .box3 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 124px;
            left: 10px;
        }
 
        .box4 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 176px;
            left: 10px;
        }

        .box5 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 228px;
            left: 10px;
        }

        .box6 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 280px;
            left: 10px;
        }

        
        .deck {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 20px;
            left: 205px;
        }

        .draw {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 320px;
            left: 205px;
        }

        .play {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 220px;
            left: 205px;
        }

        /* Full height image header */
        body {
            background-position: center;
            background-size: cover;
            background-image: url("../cards/background.png");
            min-height: 100%;
            opacity: 2;
        }

    </style>
    <script src="js/vue.js"></script>
</head>
<body>

<h1>Sequence</h1>
<label >Play Location: 
    <input type="text" id="playLocation" placeholder="Enter Location" style="width: 100px">
</label>
<label >Nickname: 
    <input type="text" id="nickname" placeholder="Enter Nickname" style="width: 100px">
</label>
<label>Number of Players: 
    <input type="number" id="playerCount" readonly>
</label>

<button id="joinButton">Join Game</button>


<button id="startButton" style="display: none;">Start Game</button>
<button id="updateButton" style="display: none;">Update Game</button>
<div id="players"></div>
<p id="player1Cards"></p>
<p id="player2Cards"></p>
<p id="player3Cards"></p>
<p id="result"></p>



<script>
    document.querySelector('#players').innerHTML = `<template>
    <div v-if="displayCards == true">
        <div id="selectColor">
            <label v-for="(color, count) in gameReference.colors"><input type="radio" name="radioGroup" :value="color" :checked="count == 0">{{ color }}</label>
        </div>
        <div v-for="(player, count) in gameReference.players" style="margin:10px; padding:10px; cursor:pointer">
            <div @click="selectCard(count)" :style="selectStyle()"></div>
        </div>
    </div>
    <div v-if="displayCardsOnHand == true" class="container">
        <div v-if="displayCardsOnHand == true" v-for="(card, count) in players[0].playerHand" :class="'box' + (count + 1)" :style="myStyle(card)" @click="restackCard(count)"></div>
        <div v-if="displayCardsOnHand == true && allPlayers()[gameReference.currentUserCount].nickname == player.nickname" class="play" :style="playStyle()">
            <button @click="play()">Play</button>
            <br>
            <button @click="win()">Win</button>    
        </div>
        <div v-if="displayCardsOnHand == true && allPlayers()[getPlayer()].nickname == player.nickname && showDeck == true && gameReference.draw.length !== 0 && winCount == false" class="draw" :style="drawStyle()" @click="addDeck()"></div>
        <div v-if="displayCardsOnHand == true && gameReference.draw[0]" class="deck" :style="deckStyle(gameReference.draw[0])"></div>
    </div>
    </template>`

    function processPlayers() {

        playersVue = new Vue({
            el: document.querySelector('#players'),
            data: {
                displayCards: true,
                displayCardsOnHand: false,
                players: [],
                player: {},
                showDeck: false,
                winCount: false,
                gameReference: {},
            },
            computed: {

            },
            methods: {
                play() {
                    this.gameReference.draw.unshift(this.players[0].playerHand.pop())
                    if (this.gameReference.currentUserCount == allPlayers.length - 1) {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": 0 }
                        document.getElementById('updateButton').click()
                    } else {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": this.gameReference.currentUserCount + 1 }
                        document.getElementById('updateButton').click()
                    }
                },
                win() {
                    this.gameReference.draw.unshift(this.players[0].playerHand.pop())
                    if (this.gameReference.currentUserCount == allPlayers.length - 1) {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": 0, "deck": this.gameReference.deck.concat(this.players[0].playerHand.splice(0, this.players[0].playerHand.length)) }
                        this.winCount = true
                        document.getElementById('updateButton').click()
                    } else {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": this.gameReference.currentUserCount + 1, "deck": this.gameReference.deck.concat(this.players[0].playerHand.splice(0, this.players[0].playerHand.length)) }
                        this.winCount = true
                        document.getElementById('updateButton').click()
                    }
                },
                addDeck() {
                    this.players[0].playerHand.push(this.gameReference.deck.pop())
                    updateValue = { "deck": this.gameReference.deck }
                    document.getElementById('updateButton').click()
                    this.showDeck = false
                },
                allPlayers() {
                    return allPlayers
                },
                getPlayer() {
                    if (this.gameReference.currentUserCount == 0) {
                        return allPlayers.length - 1
                    } else {
                        return this.gameReference.currentUserCount - 1
                    }
                    
                },
                selectStyle() {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; height: 168px; width:120px; cursor:pointer; background-image: url('/sequence/cards/back.png')`
                },
                playStyle() {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 50px; width:120px; cursor:pointer; background-color: #fff`
                },
                drawStyle() {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 168px; width:120px; cursor:pointer; background-image: url('/sequence/cards/back.png')`
                },
                deckStyle(card) {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 168px; width:120px; cursor:pointer; background-image: url('/sequence/cards/${card.replaceAll(' ','')}.png')`
                },
                myStyle(card) {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 268.8px; width:192px; cursor:pointer; background-image: url('/sequence/cards/${card.replaceAll(' ','')}.png')`
                },
                selectCard(count) {
                    if (!getSelectedOption()) {
                        alert('Please select a color')
                        return
                    }
                    this.players = this.gameReference.players.splice(count, 1)
                    this.displayCards = false
                    this.displayCardsOnHand = true
                    if (this.gameReference.currentUserCount + 1 < allPlayers.length) {
                        updateValue = { "started":true, "players": this.gameReference.players, "currentUserCount": this.gameReference.currentUserCount + 1, colors: this.gameReference.colors.filter(elem=>elem !== getSelectedOption()) }
                        this.player.color = getSelectedOption()
                        document.getElementById('updateButton').click()
                    } else {
                        updateValue = { "started":true, "players": this.gameReference.players, "currentUserCount": 0, colors: this.gameReference.colors.filter(elem=>elem !== getSelectedOption()) }
                        this.player.color = getSelectedOption()
                        document.getElementById('updateButton').click()
                    }
                    
                },
                restackCard(count) {
                    const selectedCard = this.players[0].playerHand.splice(count, 1)
                    this.players[0].playerHand.push(selectedCard[0])
                    //this.displayCards = false
                    //this.displayCardsOnHand = true
                },
                mode() {
                    return 'w3-bar-item w3-button ' + mode.replace('w3-card ','')
                },
            }
        })
    }

    processPlayers()

    function getSelectedOption() {
        var radioButtons = document.getElementsByName("radioGroup");

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                var selectedOption = radioButtons[i].value;
                console.log("Selected Option: " + selectedOption);
                return selectedOption;
            }
        }

        console.log("No option selected");
    }

    document.querySelector('#playLocation').value = localStorage.getItem('playLocation')
    document.querySelector('#nickname').value = localStorage.getItem('nickname')

    var updateValue = {}
    
    // Function to create a deck of cards
    function createDeck() {
        const suits = ['hearts', 'diamonds', 'clubs', 'spades'];
        const values = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'jack', 'queen', 'king', 'ace'];
        const deck = [];

        for (const suit of suits) {
            for (const value of values) {
                deck.push(`${suit}_${value}`);
            }
        }

        // Add Joker to the deck
        //deck.push('Joker');

        return deck.concat(deck);
    }

    // Function to shuffle the deck
    function shuffleDeck(deck) {
        for (let i = deck.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [deck[i], deck[j]] = [deck[j], deck[i]];
        }
    }

    var players = [], deck = [], gameReference, allPlayers = []

    function createPlayers(count) {
        var allPlayers = []
        var player = {name: "", color: "", playerHand: []}
        for (i = 0; i < count; i++) {
            allPlayers.push(player)
        }
        return allPlayers
    }

    // Function to start the game
    function startGame() {
        
        deck = createDeck();
        shuffleDeck(deck);

        var playerCount = Number(document.querySelector('#playerCount').value)
        

        //players = createPlayers(playerCount)
        //players.length = playerCount
        var deckCount = deck.length - 1

        if (playerCount == 3) {
            const player1Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player2Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player3Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];

            
            
            /*
            document.getElementById('player1Cards').innerText = `Player 1's Cards: ${player1Hand.join(', ')}`;
            document.getElementById('player2Cards').innerText = `Player 2's Cards: ${player2Hand.join(', ')}`;
            document.getElementById('player3Cards').innerText = `Player 3's Cards: ${player3Hand.join(', ')}`;
            */

            players.push({ name: "Player 1", color: "red", playerHand: player1Hand })
            players.push({ name: "Player 2", color: "green", playerHand: player2Hand })
            players.push({ name: "Player 3", color: "blue", playerHand: player3Hand })
/*
            for (i = 0; i < playerCount; i++) {
                document.getElementById('players').innerHTML += `<div style="margin:10px; padding:10px">
                    <div onclick="selectCard(${i})" style="border:1px solid gray; height: 168px; width:120px">${players[i].name}</div>`
                    
                    document.getElementById('players').innerHTML += `<div class="container">`
                    
                    var j = 1
                    players[i].playerHand.forEach(element => {
                        document.getElementById('players').innerHTML += `<div class="box${j}" style="border:1px solid gray; margin:10px; height: 268.8px; width:192px">${element}</div>`
                        j++
                    });
                    
                    document.getElementById('players').innerHTML += `<div class="deck" style="border:1px solid gray; margin:10px; height: 168px; width:120px">Deck</div>`
                    
                    document.getElementById('players').innerHTML += `</div></div>`;
            }*/
            //players[1].playerHand = player2Hand
            //players[2].playerHand = player3Hand

            /*for (i = 0; i < playerCount; i++) {
                const playerHand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()]
                players[i].playerHand = playerHand
                for (j = 0; j < 6; j++) {
                    console.log(i, j)
                    players[i].playerHand = deck[deckCount]
                    //deckCount--
                }
            }*/
        } else if (playerCount == 6) {

        } else if (playerCount == 9) {

        } 

        //const 
        //const total = calculateTotal(playerHand);

        //document.getElementById('players').innerText = `Total: ${total}`;

        // document.getElementById('result').innerText = `Total: ${total}`;
        gameReference = {
            deck: deck,
            draw: [],
            players: players,
            startedBy: document.querySelector('#nickname').value.toLowerCase(),
            currentUserCount: 0,
            started: false,
            colors: ["Red", "Green", "Blue"],
            playLocation: document.querySelector('#playLocation').value.toLowerCase()
        }
    }

    function selectCard(count) {
        console.log(count)
        gameReference.players = [gameReference.players[count]]
    }

    // Function to calculate the total value of cards, considering Joker as 10
    function calculateTotal(hand) {
        let total = 0;

        for (const card of hand) {
            if (card.includes('Joker')) {
                total += 10;
            } else {
                const value = parseInt(card) || (card.includes('Ace') ? 11 : 10);
                total += value;
            }
        }

        return total;
    }

    // Function to create and append radio buttons
    function createRadioButtons(containerId, options) {
    var container = document.getElementById(containerId);

    options.forEach(function(option) {
        var radioBtn = document.createElement("input");
        radioBtn.type = "radio";
        radioBtn.name = "radioGroup"; // All radio buttons with the same name belong to the same group
        radioBtn.value = option.value;

        var label = document.createElement("label");
        label.appendChild(radioBtn);
        label.appendChild(document.createTextNode(option.label));

        container.appendChild(label);
    });
    }

    // Example options
    var radioOptions = [
        { value: "red", label: "Red" },
        { value: "green", label: "Green" },
        { value: "blue", label: "Blue" }
    ];

    // Call the function to create and append radio buttons
    //createRadioButtons("selectColor", radioOptions);
</script>

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
    import { 
        getFirestore, collection, getDocs, onSnapshot,
        addDoc, deleteDoc, doc,
        query, where,
        orderBy, serverTimestamp,
        getDoc, updateDoc
    } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore.js";

    import { 
        getAuth,
        createUserWithEmailAndPassword,
        signOut, signInWithEmailAndPassword,
        onAuthStateChanged,
        sendEmailVerification 
    } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
        // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyB1Jn59NnAkobr9LJN1hleP90LRQWHX6fg",
      authDomain: "sequence-13bf0.firebaseapp.com",
      projectId: "sequence-13bf0",
      storageBucket: "sequence-13bf0.appspot.com",
      messagingSenderId: "87264207089",
      appId: "1:87264207089:web:0098a1738fec04693e0950",
      measurementId: "G-8SYRSLT773"
    };
  
    // Initialize Firebase
    //const app = initializeApp(firebaseConfig);
    //const analytics = getAnalytics(app);

    // Initialize Firebase
    initializeApp(firebaseConfig);

    // init services
    const db = getFirestore()
    //const auth = getAuth()

    // collection ref
    const deckRef = collection(db, 'deck')
    const playersRef = collection(db, 'players')

    //const playLocation = document.querySelector('#playLocation').value
    /*
    if (playLocation !== '') {
        const q = query(deckRef, where("playLocation", "==", playLocation.toLowerCase()))

        const unsubDeck = onSnapshot(q, (snapshot) => {
            let cards = []
            snapshot.docs.forEach((doc) => {
                cards.push({ ...doc.data(), id:doc.id })
            })
            console.log(cards)
            if (!playersVue.gameReference.players && cards[0]) {
                playersVue.gameReference = cards[0]

                //playersVue.players = gameReference.players
            }
        })
    }*/

    const joinButton = document.getElementById('joinButton')

    joinButton.addEventListener("click", async (e) => {
        e.preventDefault();
        const playLocation = document.querySelector('#playLocation').value
        if (playLocation == '') {
            alert('Please enter a Play Location')
            return
        }
        const nickname = document.querySelector('#nickname').value
        if (nickname == '') {
            alert('Please enter a Nickname')
            return
        }

        //localStorage.setItem('playLocation', playLocation);
        //localStorage.setItem('nickname', nickname);

        document.getElementById('joinButton').style.display = 'none'

        if (!unsubPlayers) {
            loadPlayerStore()
        }

    })

    const startButton = document.getElementById('startButton')

    startButton.addEventListener("click", async (e) => {
        e.preventDefault();
        

        //localStorage.setItem('playLocation', playLocation);
        //localStorage.setItem('nickname', nickname);
/*
        if (!unsubDeck) {
            loadDeckStore()
        }*/

        startGame()
        
        if (playersVue.gameReference.id) {
            updateProperties(playersVue.gameReference.id, "deck", gameReference)
            players = []
        } else {
            addDoc(deckRef, gameReference)
                .then(() => {
                    players = []
                })
        }

    })
    const updateButton = document.getElementById('updateButton')

    updateButton.addEventListener("click", async (e) => {
        e.preventDefault();
        updateProperties(playersVue.gameReference.id, "deck", updateValue)
    })

    async function updateProperties(id, store, properties) {
        const docRef = doc(db, store, id)
        const snapshot = await updateDoc(docRef, properties)
    }

    if (document.querySelector('#playLocation').value !== '') {
        loadDeckStore()
    }

    var unsubDeck, unsubPlayers

    function loadDeckStore() {
        const playLocation = document.querySelector('#playLocation').value

        const q = query(deckRef, where("playLocation", "==", playLocation.toLowerCase()))

        unsubDeck = onSnapshot(q, (snapshot) => {
            let cards = []
            snapshot.docs.forEach((doc) => {
                cards.push({ ...doc.data(), id:doc.id })
            })
            console.log(cards)
            if (cards[0]) {
                document.getElementById('startButton').style.display = 'none'
                const found = allPlayers.findIndex(elem=>elem.nickname == cards[0].startedBy)
                const starter = allPlayers.splice(found, 1)
                allPlayers.push(starter[0])
                if (allPlayers[0] == undefined) {
                    startGame()
                    
                    updateProperties(cards[0].id, "deck", gameReference)
                    players = []
                } else if (allPlayers[cards[0].currentUserCount].nickname == document.querySelector('#nickname').value.toLowerCase() ) {
                    playersVue.gameReference = cards[0]
                    playersVue.showDeck = true
                    if (cards[0].players.length == 0) {
                        updateProperties(playersVue.player.id, "players", { "ready": "done", "color": playersVue.players[0].color })
                    }
                    if (playersVue.winCount == true) {
                        if (cards[0].currentUserCount == allPlayers.length - 1) {
                            updateValue = { "currentUserCount": 0 }
                            document.getElementById('updateButton').click()
                        } else {
                            updateValue = { "currentUserCount": cards[0].currentUserCount + 1 }
                            document.getElementById('updateButton').click()
                        }
                    }
                } else {
                    playersVue.gameReference.currentUserCount = cards[0].currentUserCount
                    playersVue.gameReference.deck = cards[0].deck
                    playersVue.gameReference.draw = cards[0].draw

                    if (cards[0].players.length == 0) {
                        updateProperties(playersVue.player.id, "players", { "ready": "done", "color": playersVue.players[0].color })
                        
                    }
                }
                /*if (cards[0].players.length == 0) {
                    updateProperties(playersVue.player.id, "players", { "ready": "done", "color": playersVue.players[0].color })
                    
                } else {
                    //document.getElementById('startButton').style.display = ''
                }*/
                
            }
        })
        
    }

    function loadPlayerStore() {
        const playLocation = document.querySelector('#playLocation').value
        const nickname = document.querySelector('#nickname').value
        
        const q = query(playersRef, where("playLocation", "==", playLocation.toLowerCase()))

        unsubPlayers = onSnapshot(q, (snapshot) => {
            let users = []
            snapshot.docs.forEach((doc) => {
                users.push({ ...doc.data(), id:doc.id })
            })
            console.log(users)
            document.querySelector('#playerCount').value = users.filter(elem=>elem.ready == true).length
            if (document.querySelector('#playerCount').value == 3 || document.querySelector('#playerCount').value == 6 || document.querySelector('#playerCount').value == 9) {
                document.getElementById('startButton').style.display = ''
                allPlayers = users.filter(elem=>elem.ready == true)
            } else {
                document.getElementById('startButton').style.display = 'none'
            }
            const found = users.findIndex(elem=>elem.nickname == nickname.toLowerCase())
            if (found !== -1) {
                if (!playersVue.player.id) {
                    //console.log(users[found])
                    updateProperties(users[found].id, "players", { "ready": true })
                    loadDeckStore()
                }
                playersVue.player = users.filter(elem=>elem.nickname == nickname.toLowerCase())[0]
            } else {
                addDoc(playersRef, { "nickname": nickname.toLowerCase(), "playLocation": playLocation.toLowerCase(), "ready": true })
                    .then(() => {
                        loadDeckStore()
                    })
            }
        })
        
    }
    /*
    let messages = []
    snapshot.docs.forEach((doc) => {
        messages.push({ ...doc.data(), id:doc.id })
    })*/
  </script>

</body>
</html>
