<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px 5px;
        }

        .container {
            position: relative;
        }

        .box1 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 20px;
            left: 10px;
        }

        .box2 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 72px;
            left: 10px;
        }

        .box3 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 124px;
            left: 10px;
        }
 
        .box4 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 176px;
            left: 10px;
        }

        .box5 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 228px;
            left: 10px;
        }

        .box6 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 280px;
            left: 10px;
        }

        
        .deck {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 20px;
            left: 200px;
        }

        .draw {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 220px;
            left: 200px;
        }

        .play {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 220px;
            left: 200px;
        }

        /* Full height image header */
        body {
            background-position: center;
            background-size: cover;
            background-image: url("../sequence/cards/background.png");
            min-height: 100%;
            opacity: 2;
        }

        .playButtons {
            background-color: #ffeea0;
            font-size: 18px;
            box-sizing: border-box;
            border: 1px solid #ffeea0;
            text-align: center;
            cursor: pointer;
            padding: 5px 16px;
            border-radius: 8px;
            margin: 5px;
            width: 110px;
        }

        h1, #playerCount {
            color: #fff
        }

    </style>
    <script src="js/vue.js"></script>
</head>
<body>

<h1>Sequence</h1>
<label> 
    <input type="text" id="playLocation" placeholder="Enter Location" style="width: 100px">
</label>
<label> 
    <input type="text" id="nickname" placeholder="Enter Nickname" style="width: 100px">
</label>
<label>
    <span id="playerCount"></span>
</label>

<button id="joinButton">Join Game</button>


<button id="startButton" style="display: none;">Start Game</button>
<button id="updateButton" style="display: none;">Update Game</button>
<button id="deleteButton" style="display: none;">Delete</button>
<button id="restartButton" style="display: none;">Restart</button>
<div id="players"></div>


<script>
    document.querySelector('#players').innerHTML = `<template>
    <div v-if="displayCards == true">
        <div id="selectColor" style="display:none">
            <label v-for="(color, count) in gameReference.colors"><input type="radio" name="radioGroup" :value="color.count + '|' + color.color" :checked="count == 0">{{ color.color }}</label>
        </div>
        <div v-for="(player, count) in gameReference.players" style="margin:10px; padding:10px; cursor:pointer">
            <div @click="selectCard(count)" :style="selectStyle()"></div>
        </div>
    </div>
    <div v-if="displayCardsOnHand == true" class="container">
        <div v-if="displayCardsOnHand == true" v-for="(card, count) in players[0].playerHand" :class="'box' + (count + 1)" :style="myStyle(card)" @click="restackCard(count)"></div>
        <div v-if="displayCardsOnHand == true && allPlayers()[gameReference.currentUserCount].nickname == player.nickname" class="play" :style="playStyle()">
            <button class="playButtons" @click="play()">Play</button>
            <br>
            <button class="playButtons" @click="win()">Win</button>    
        </div>
        <div v-if="displayCardsOnHand == true && (allPlayers()[getPlayer()].nickname == player.nickname && showDeck == true && gameReference.played == true && gameReference.draw.length !== 0 && winCount == false) || (winCount == false && allPlayers()[getNextPlayer()].nickname == player.nickname && showDeck == true && gameReference.draw.length !== 0 && gameReference.played == false)" class="draw" :style="drawStyle()" @click="addDeck()"></div>
        <div v-if="displayCardsOnHand == true && gameReference.draw[0]" class="deck" :style="deckStyle(gameReference.draw[0])"></div>
    </div>
    </template>`

    function processPlayers() {

        playersVue = new Vue({
            el: document.querySelector('#players'),
            data: {
                displayCards: true,
                displayCardsOnHand: false,
                players: [],
                player: {},
                showDeck: false,
                winCount: false,
                gameReference: {},
            },
            computed: {

            },
            methods: {
                play() {
                    this.gameReference.draw.unshift(this.players[0].playerHand.pop())
                    if (this.gameReference.currentUserCount == allPlayers.length - 1) {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": 0, "played": true }
                        document.getElementById('updateButton').click()
                    } else {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": this.gameReference.currentUserCount + 1, "played": true }
                        document.getElementById('updateButton').click()
                    }
                },
                win() {
                    var allColors = ["Red", "Blue", "Green"]
                    this.gameReference.draw.unshift(this.players[0].playerHand.pop())
                    if (this.gameReference.currentUserCount == allPlayers.length - 1) {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": 0, "deck": this.gameReference.deck.concat(this.players[0].playerHand.splice(0, this.players[0].playerHand.length)), "played": true }
                        updateValue[`${this.player.color}Win`] = true
                        if (this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[0]}Win`] == true || this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[1]}Win`] == true) {
                            updateValue.gameOver = true
                        }
                        this.winCount = true
                        document.getElementById('updateButton').click()
                        if (this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[0]}Win`] == true || this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[1]}Win`] == true) {
                            document.getElementById('deleteButton').click()
                        }
                    } else {
                        updateValue = { "draw": this.gameReference.draw, "currentUserCount": this.gameReference.currentUserCount + 1, "deck": this.gameReference.deck.concat(this.players[0].playerHand.splice(0, this.players[0].playerHand.length)), "played": true }
                        updateValue[`${this.player.color}Win`] = true
                        if (this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[0]}Win`] == true || this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[1]}Win`] == true) {
                            updateValue.gameOver = true
                        }
                        this.winCount = true
                        document.getElementById('updateButton').click()
                        if (this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[0]}Win`] == true || this.gameReference[`${allColors.filter(elem=>elem !== this.player.color)[1]}Win`] == true) {
                            document.getElementById('deleteButton').click()
                        }
                    }
                },
                addDeck() {
                    this.players[0].playerHand.push(this.gameReference.deck.pop())
                    updateValue = { "deck": this.gameReference.deck }
                    document.getElementById('updateButton').click()
                    this.showDeck = false
                },
                allPlayers() {
                    return allPlayers
                },
                getPlayer() {
                    if (this.gameReference.currentUserCount == 0) {
                        return allPlayers.length - 1
                    } else {
                        return this.gameReference.currentUserCount - 1
                    }
                    
                },
                getNextPlayer() {
                    if (this.gameReference.currentUserCount == 0) {
                        return allPlayers.length - 2
                    } else if (this.gameReference.currentUserCount == 1) {
                        return allPlayers.length - 1
                    } else {
                        return this.gameReference.currentUserCount - 2
                    }
                    
                },
                selectStyle() {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; height: 168px; width:120px; cursor:pointer; background-image: url('/sequence/cards/back.png')`
                },
                playStyle() {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 87px; width:120px; cursor:pointer; background-color: #fff`
                },
                drawStyle() {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 168px; width:120px; cursor:pointer; background-image: url('/sequence/cards/back.png')`
                },
                deckStyle(card) {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 168px; width:120px; cursor:pointer; background-image: url('/sequence/cards/${card.replaceAll(' ','')}.png')`
                },
                myStyle(card) {
                    return `border:1px solid gray; background-position: center; border-radius: 8px; background-size: cover; margin:10px; height: 235.2px; width: 168px; cursor:pointer; background-image: url('/sequence/cards/${card.replaceAll(' ','')}.png')`
                },
                selectCard(count) {
                    if (!getSelectedOption()) {
                        alert('Please select a color')
                        return
                    }
                    const newUserCount = Number(`${this.gameReference.currentUserCount + 1 < allPlayers.length ? this.gameReference.currentUserCount + 1 : this.gameReference.currentUserCount + 1 - allPlayers.length}`)
                    this.players = this.gameReference.players.splice(count, 1)
                    this.displayCards = false
                    this.displayCardsOnHand = true
                    allPlayers[this.gameReference.currentUserCount].count = Number(getSelectedOption().split('|')[0])
                    updateValue = { "started":true, "players": this.gameReference.players, count: Number(getSelectedOption().split('|')[0]), "currentUserCount": newUserCount, colors: [...this.gameReference.colors.slice(0, getSelectedIndex()), ...this.gameReference.colors.slice(getSelectedIndex() + 1)] }
                    this.player.color = getSelectedOption().split('|')[1]
                    document.getElementById('updateButton').click()
                },
                restackCard(count) {
                    const selectedCard = this.players[0].playerHand.splice(count, 1)
                    this.players[0].playerHand.push(selectedCard[0])
                },
                mode() {
                    return 'w3-bar-item w3-button ' + mode.replace('w3-card ','')
                },
            }
        })
    }

    processPlayers()

    function getSelectedOption() {
        var radioButtons = document.getElementsByName("radioGroup");

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                var selectedOption = radioButtons[i].value;
                console.log("Selected Option: " + selectedOption);
                return selectedOption;
            }
        }

        console.log("No option selected");
    }

    function getSelectedIndex() {
        var radioButtons = document.getElementsByName("radioGroup");

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                var selectedOption = radioButtons[i].value;
                console.log("Selected Option: " + selectedOption);
                return i;
            }
        }

        console.log("No option selected");
    }

    document.querySelector('#playLocation').value = localStorage.getItem('playLocation')
    document.querySelector('#nickname').value = localStorage.getItem('nickname')

    var updateValue = {}
    
    // Function to create a deck of cards
    function createDeck() {
        const suits = ['hearts', 'diamonds', 'clubs', 'spades'];
        const values = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'jack', 'queen', 'king', 'ace'];
        const deck = [];

        for (const suit of suits) {
            for (const value of values) {
                deck.push(`${suit}_${value}`);
            }
        }

        // Add Joker to the deck
        //deck.push('Joker');

        return deck.concat(deck);
    }

    // Function to shuffle the deck
    function shuffleDeck(deck) {
        for (let i = deck.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [deck[i], deck[j]] = [deck[j], deck[i]];
        }
    }

    var players = [], deck = [], gameReference, allPlayers = []

    function createPlayers(count) {
        var allPlayers = []
        var player = {name: "", color: "", playerHand: []}
        for (i = 0; i < count; i++) {
            allPlayers.push(player)
        }
        return allPlayers
    }

    // Function to start the game
    function startGame() {
        
        deck = createDeck();
        shuffleDeck(deck);

        var playerCount = Number(document.querySelector('#playerCount').innerHTML.split(' ')[0])

        var colors = []

        if (playerCount == 3) {
            const player1Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player2Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player3Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];

            players.push({ playerHand: player1Hand, color: "Red" })
            players.push({ playerHand: player2Hand, color: "Blue" })
            players.push({ playerHand: player3Hand, color: "Green" })

            colors = [ 
                {count: 0, color: "Red"},
                {count: 1, color: "Blue"},
                {count: 2, color: "Green"},
            ]
            
        } else if (playerCount == 6) {
            const player1Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player2Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player3Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player4Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player5Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player6Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop(), deck.pop()];

            players.push({ playerHand: player1Hand, color: "Red" })
            players.push({ playerHand: player2Hand, color: "Blue" })
            players.push({ playerHand: player3Hand, color: "Green" })
            players.push({ playerHand: player4Hand, color: "Red" })
            players.push({ playerHand: player5Hand, color: "Blue" })
            players.push({ playerHand: player6Hand, color: "Green" })

            colors = [ 
                {count: 0, color: "Red"},
                {count: 1, color: "Blue"},
                {count: 2, color: "Green"},
                {count: 3, color: "Red"},
                {count: 4, color: "Red"},
                {count: 5, color: "Green"}
            ]
        } else if (playerCount == 9) {
            const player1Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player2Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player3Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player4Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player5Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player6Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player7Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player8Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];
            const player9Hand = [deck.pop(), deck.pop(), deck.pop(), deck.pop()];

            players.push({ playerHand: player1Hand, color: "Red" })
            players.push({ playerHand: player2Hand, color: "Blue" })
            players.push({ playerHand: player3Hand, color: "Green" })
            players.push({ playerHand: player4Hand, color: "Red" })
            players.push({ playerHand: player5Hand, color: "Blue" })
            players.push({ playerHand: player6Hand, color: "Green" })
            players.push({ playerHand: player7Hand, color: "Red" })
            players.push({ playerHand: player8Hand, color: "Blue" })
            players.push({ playerHand: player9Hand, color: "Green" })

            colors = [ 
                {count: 0, color: "Red"},
                {count: 1, color: "Blue"},
                {count: 2, color: "Green"},
                {count: 3, color: "Red"},
                {count: 4, color: "Blue"},
                {count: 5, color: "Green"},
                {count: 6, color: "Red"},
                {count: 7, color: "Blue"},
                {count: 8, color: "Green"}
            ]
        } 

        gameReference = {
            deck: deck,
            draw: [],
            players: players,
            startedBy: document.querySelector('#nickname').value.toLowerCase().trim(),
            currentUserCount: Number(`${playersVue.startCount + 1 == allPlayers.length ? 0 : playersVue.startCount + 1}`),
            started: false,
            played: false,
            colors: colors,
            playLocation: document.querySelector('#playLocation').value.toLowerCase().trim()
        }
    }

</script>

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
    import { 
        getFirestore, collection, getDocs, onSnapshot,
        addDoc, deleteDoc, doc,
        query, where,
        orderBy, serverTimestamp,
        getDoc, updateDoc
    } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore.js";

    import { 
        getAuth,
        createUserWithEmailAndPassword,
        signOut, signInWithEmailAndPassword,
        onAuthStateChanged,
        sendEmailVerification 
    } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
        // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyB1Jn59NnAkobr9LJN1hleP90LRQWHX6fg",
      authDomain: "sequence-13bf0.firebaseapp.com",
      projectId: "sequence-13bf0",
      storageBucket: "sequence-13bf0.appspot.com",
      messagingSenderId: "87264207089",
      appId: "1:87264207089:web:0098a1738fec04693e0950",
      measurementId: "G-8SYRSLT773"
    };
  
    // Initialize Firebase
    //const app = initializeApp(firebaseConfig);
    //const analytics = getAnalytics(app);

    // Initialize Firebase
    initializeApp(firebaseConfig);

    // init services
    const db = getFirestore()
    //const auth = getAuth()

    // collection ref
    const deckRef = collection(db, 'deck')
    const playersRef = collection(db, 'players')

    const joinButton = document.getElementById('joinButton')

    joinButton.addEventListener("click", async (e) => {
        e.preventDefault();
        const playLocation = document.querySelector('#playLocation').value
        if (playLocation == '') {
            alert('Please enter a Play Location')
            return
        }
        const nickname = document.querySelector('#nickname').value
        if (nickname == '') {
            alert('Please enter a Nickname')
            return
        }

        document.querySelector('#playLocation').readOnly = true
        document.querySelector('#nickname').readOnly = true

        localStorage.setItem('playLocation', playLocation);
        localStorage.setItem('nickname', nickname);

        document.getElementById('joinButton').style.display = 'none'

        if (!unsubPlayers) {
            loadPlayerStore()
        }

    })

    const startButton = document.getElementById('startButton')

    startButton.addEventListener("click", async (e) => {
        e.preventDefault();

        startGame()
        
        if (playersVue.gameReference.id) {
            updateProperties(playersVue.gameReference.id, "deck", gameReference)
            players = []
        } else {
            addDoc(deckRef, gameReference)
                .then(() => {
                    players = []
                })
        }

    })
    const updateButton = document.getElementById('updateButton')

    updateButton.addEventListener("click", async (e) => {
        e.preventDefault();
        updateProperties(playersVue.gameReference.id, "deck", updateValue)
    })

    async function updateProperties(id, store, properties) {
        console.log(id, store, properties)
        if (store == 'players' && properties.ready == true) {
            playersVue.startCount = allPlayers.length - 1
        }
        const docRef = doc(db, store, id)
        const snapshot = await updateDoc(docRef, properties)
        if (store == 'deck' && properties.started == true) {
            updateProperties(playersVue.player.id, "players", { "ready": "done", "color": playersVue.player.color })
        }
    }

    const deleteButton = document.getElementById('deleteButton')

    deleteButton.addEventListener("click", async (e) => {
        e.preventDefault();
        const deckDocRef = doc(db, 'deck', playersVue.gameReference.id)
        deleteDoc(deckDocRef)
            .then(() => {
                console.log('Deck Deleted')
                playersVue.gameReference.currentUserCount = playersVue.gameReference.currentUserCount + 1
            })
    })

    const restartButton = document.getElementById('restartButton')

    restartButton.addEventListener("click", async (e) => {
        e.preventDefault();
        location.reload()
    })

    /*
    if (document.querySelector('#playLocation').value !== '') {
        loadDeckStore()
    }*/

    var allColors = ["Red", "Blue", "Green"]

    var unsubDeck, unsubPlayers

    function loadDeckStore() {
        const playLocation = document.querySelector('#playLocation').value

        const q = query(deckRef, where("playLocation", "==", playLocation.toLowerCase().trim()))

        unsubDeck = onSnapshot(q, (snapshot) => {
            let cards = []
            snapshot.docs.forEach((doc) => {
                cards.push({ ...doc.data(), id:doc.id })
            })
            console.log(cards)
            if (cards[0]) {
                document.getElementById('startButton').style.display = 'none'
                if (cards[0].gameOver == true) {
                    unsubPlayers()
                    unsubDeck()
                    const playersDocRef = doc(db, 'players', playersVue.player.id)
                    deleteDoc(playersDocRef)
                        .then(() => {
                            console.log('Person Deleted')
                            document.getElementById('restartButton').style.display = ''
                            document.querySelector('#playerCount').innerHTML = ``
                        })
                    return
                }
                if (allPlayers[0] == undefined) {
                    //startGame()
                    
                    //updateProperties(cards[0].id, "deck", gameReference)
                    //players = []
                } else if (allPlayers.findIndex(elem=>elem.count !== undefined) == -1 && playersVue.startCount !== cards[0].currentUserCount) {
                    document.querySelector('#playerCount').innerHTML = `Current Player: <strong>${allPlayers[cards[0].currentUserCount].nickname == document.querySelector('#nickname').value.toLowerCase().trim() ? 'Me' : allPlayers[cards[0].currentUserCount].nickname}</strong>`
                    playersVue.gameReference.started = true
                } else if (allPlayers.findIndex(elem=>elem.count !== undefined) == -1 && playersVue.startCount == cards[0].currentUserCount) {
                    playersVue.gameReference = cards[0]
                    document.querySelector('#playerCount').innerHTML = `Current Player: <strong>Me</strong>`
                } else if (cards[0].players.length !== 0) {
                    playersVue.gameReference = cards[0]
                    document.querySelector('#playerCount').innerHTML = `Current Player: <strong>${allPlayers[cards[0].currentUserCount].nickname == document.querySelector('#nickname').value.toLowerCase().trim() ? 'Me' : allPlayers[cards[0].currentUserCount].nickname}</strong>`
                    
                } else if (cards[0][`${allPlayers[allPlayers.findIndex(elem=>elem.count !== undefined)].color}Win`] == true && allPlayers.findIndex(elem=>elem.count !== undefined) == cards[0].currentUserCount) {
                    playersVue.gameReference = cards[0]
                    if (cards[0].currentUserCount == allPlayers.length - 1) {
                        updateValue = { "draw": playersVue.gameReference.draw, "currentUserCount": 0, "deck": playersVue.gameReference.deck.concat(playersVue.players[0].playerHand.splice(0, playersVue.players[0].playerHand.length)), "played": false }
                        playersVue.winCount = true
                        document.getElementById('updateButton').click()
                    } else {
                        updateValue = { "draw": playersVue.gameReference.draw, "currentUserCount": playersVue.gameReference.currentUserCount + 1, "deck": playersVue.gameReference.deck.concat(playersVue.players[0].playerHand.splice(0, playersVue.players[0].playerHand.length)), "played": false }
                        playersVue.winCount = true
                        document.getElementById('updateButton').click()
                    }
                } else if (cards[0].players.length == 0) {
                    
                    if (allPlayers.findIndex(elem=>elem.count !== undefined) == cards[0].currentUserCount) {
                        playersVue.gameReference = cards[0]
                        playersVue.showDeck = true
                        
                        document.querySelector('#playerCount').innerHTML = `Current Player: <strong>Me</strong>`
                    } else {
                        playersVue.gameReference = cards[0]
                        document.querySelector('#playerCount').innerHTML = `Current Player: <strong>${allPlayers[cards[0].currentUserCount].nickname}</strong>`
                    }
                    
                }
            }
        })
        
    }

    function loadPlayerStore() {
        const playLocation = document.querySelector('#playLocation').value
        const nickname = document.querySelector('#nickname').value
        
        const q = query(playersRef, where("playLocation", "==", playLocation.toLowerCase().trim()), orderBy('createdAt'))

        unsubPlayers = onSnapshot(q, (snapshot) => {
            let users = []
            snapshot.docs.forEach((doc) => {
                users.push({ ...doc.data(), id:doc.id })
            })
            console.log(users)

            if (users.filter(elem=>elem.ready == "done").length !== 0 && playersVue.gameReference.started == true) {
                return
            }
            if (users.filter(elem=>elem.ready == true).length == 0) {
                if (playersVue.gameReference.currentUserCount && allPlayers.length !== 0) {
                    document.querySelector('#playerCount').innerHTML = `Current Player: <strong>${allPlayers[playersVue.gameReference.currentUserCount].nickname == document.querySelector('#nickname').value.toLowerCase().trim() ? 'Me' : allPlayers[playersVue.gameReference.currentUserCount].nickname}</strong>`
                } else {
                    document.querySelector('#playerCount').innerHTML = `${users.filter(elem=>elem.ready == true).length == 0 ? '' : users.filter(elem=>elem.ready == true).length} ${users.filter(elem=>elem.ready == true).length == 0 ? '' : users.filter(elem=>elem.ready == true).length == 1 ? 'Player' : 'Players'}`
                }
            } else {
                document.querySelector('#playerCount').innerHTML = `${users.filter(elem=>elem.ready == true).length == 0 ? '' : users.filter(elem=>elem.ready == true).length} ${users.filter(elem=>elem.ready == true).length == 0 ? '' : users.filter(elem=>elem.ready == true).length == 1 ? 'Player' : 'Players'}`
            }
            if (users.filter(elem=>elem.ready == true).length >= allPlayers.length) {
                allPlayers = users.filter(elem=>elem.ready == true)
            }
            if (Number(document.querySelector('#playerCount').innerHTML.split(' ')[0]) >= 3) {// || Number(document.querySelector('#playerCount').innerHTML.split(' ')[0]) == 6 || Number(document.querySelector('#playerCount').innerHTML.split(' ')[0]) == 9
                document.getElementById('startButton').style.display = ''
            } else {
                document.getElementById('startButton').style.display = 'none'
            }
            if (playersVue.gameReference.currentUserCount !== undefined && allPlayers.length !== 0) {
                document.querySelector('#playerCount').innerHTML = `Current Player: <strong>${allPlayers[playersVue.gameReference.currentUserCount].nickname == document.querySelector('#nickname').value.toLowerCase().trim() ? 'Me' : allPlayers[playersVue.gameReference.currentUserCount].nickname}</strong>`
            }
            const found = users.findIndex(elem=>elem.nickname == nickname.toLowerCase().trim())
            if (found !== -1) {
                if (!playersVue.player.id) {
                    updateProperties(users[found].id, "players", { "ready": true, color: "", createdAt: serverTimestamp() })
                    loadDeckStore()
                }
                playersVue.player = users.filter(elem=>elem.nickname == nickname.toLowerCase().trim())[0]
            } else {
                addDoc(playersRef, { "nickname": nickname.toLowerCase().trim(), "playLocation": playLocation.toLowerCase().trim(), "ready": true, color: "", createdAt: serverTimestamp() })
                    .then(() => {
                        loadDeckStore()
                    })
            }
        })
    }
  </script>

</body>
</html>
